

.image-wrapper{
    position: relative;
  /* text-align: center; */
}
.text-overlay{
    position: absolute;
    top: 250px;
    left: 110px;
    transition: transform 0.5s;
}


    .text-overlay:hover{
        transition: all 0.3s ease-out;
        transform: translateY(-25px);
    }